body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
  margin-top: -20px;
}

.container {
  margin-right: -5px;
}


.bg-2 {
  background-color: #ffffff;
  /* Dark Blue */
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  /* White */
  color: #555555;
  margin-top: 400px;
}




video {
  height: 1000px;
  width: 1630px;
  margin-left: 35px;
}


.container-fluid img {
  margin-top: -150px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 16px;
  letter-spacing: 5px;
  height: 150px;
}

.navbar-nav li a:hover {
  color: rgb(0, 79, 152);
}

#myNavbar a {
  margin-top: 80px;
}

h3 {
  margin-top: -20px;
}

.logo img {
  margin-top: 10px;
  margin-left: -450px;
}

.logo h1 {
  font-size: 55px;
  margin-left: -80px;

  margin-top: -100px;
  color: rgb(0, 79, 152);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo h3 {
  margin-top: -2px;
  color: rgb(0, 79, 152);
  margin-left: -300px;

}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.row{
  margin-top: 30px;
  height: 100px;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px; 
  height: 700px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.card img{
  height:400px;
  margin-left:40px;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.card1 img{
 height: 400px;
 margin-left: 40px;
}

.about-section1 {
  padding: 50px;
  background-color: black;
  color: white;
}

.about-section1 h1{
  font-style: bold;
  font-size: 60px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.about-section {
  padding: 50px;
  background-color: rgb(0, 79, 152);
  color: white;
  margin-top: 10px;
}

.about-section h1{
  font-style: bold;
  font-size: 80px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.about-section2 {
  padding: 50px;
  background-color: black;
  color: white;
}

.about-section2 h1{
  font-style: bold;
  font-size: 60px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.about-section3 {
  padding: 30px;
  background-color: white;
  color: black;
  margin-top: -20px;
}

.about-section3 h1{
  font-style: bold;
  font-size: 60px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contain {
  padding: 0 16px;
}
.contain h2{
  color: white;
  text-align: center;
}
.contain::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


.inner-width{
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin-left: -10px;
}

.border{
  width: 100px;
  height: 3px;
  background: #3CEDA7;
  margin: 40px auto;
}
.about-section-row{
  display: flex;
  flex-wrap: wrap;
}
.about-section-col{
  flex: 80%;
}
.about{
  padding-right: 30px;
}
.about p{
text-align:justify;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
}
.about a{
  display: inline-block;
  color: #7E7C7A;
  text-decoration: none;
  border: 2px solid #3CEDA7;
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
}
.about a:hover{
  color: #fff;
  background: #3CEDA7;
}
.skills{
  padding-left: 30px;
}
.skill{
  margin-bottom: 10px;
}
.title{
  color: #7E7C7A
}
.progress{
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 12px;
}
.progress-bar{
  height: 12px;
  background: #3CEDA7;
  border-radius: 12px;
}
.p1{
  width: 90%;
}
.p2{
  width: 70%;
}
.p3{
  width: 50%;
}
.progress-bar span{
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color: #fff;
  font-size: 12px;
}
@media screen and (max-width:700px) {
  .about-section-col{
    flex: 100%;
    margin: 10px 0;
  }
  .about,.skills{
    padding: 0;
  }
  
}

.containe{
  width: 160vmin;
  margin-left: 140px;
  margin-top: 80px;
 
  
 
  overflow: hidden;
  border: 20px solid #ffffff;
  border-radius: 5px;
  box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.containe1{
  width: 160vmin;
  margin-left: 170px;
  margin-top: 70px;
 
  
 
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.wrapper{
  width: 100%;
  display: flex;
  animation: slide1 26s infinite;
}
@keyframes slide1{
  0%{
      transform: translateX(0);
  }
  8%{
      transform: translateX(0);
  }
  16%{
      transform: translateX(-100%);
  }
  24%{
      transform: translateX(-100%);
  }
  32%{
      transform: translateX(-200%);
  }
  40%{
      transform: translateX(-200%);
  }
  48%{
      transform: translateX(-300%);
  }
  56%{
      transform: translateX(-300%);
  }
  64%{
    transform: translateX(-400%);
}
72%{
    transform: translateX(-400%);
}
79%{
  transform: translateX(-500%);
}
86%{
  transform: translateX(-500%);
}


99%{
  transform: translateX(-600%);
}
100%{
  transform: translateX(-600%);
}





}
.wrapper img{
  width: 100%;
}
.MREC{
  margin-top: 200px
}
.MREC h1{
  font-size: 50px;
}
.TEAM h1{
  font-size: 50px;
}
.MREC h3{
  text-align:justify;
  margin-top: 20px;
  color: white;
  font-size: 25px;
  font-style:normal;
}
.TEAM h3{
  text-align:justify;
  margin-top: 20px;
  color: white;
  font-size: 25px;
  font-style: normal;
  
}
.TEAM{
  margin-top: 50px;
}
.wrapper1{
  width: 25%;
  display: flex;
  animation: slide 22s infinite;
}
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  10%{
      transform: translateX(0);
  }
  20%{
      transform: translateX(-100%);
  }
  30%{
      transform: translateX(-100%);
  }
  40%{
      transform: translateX(-200%);
  }
  50%{
      transform: translateX(-200%);
  }
  60%{
      transform: translateX(-300%);
  }
  80%{
      transform: translateX(-300%);
  }
  90%{
    transform: translateX(-400%);
}
100%{
  transform: translateX(-400%);
}
  



}
.wrapper1 img{
  width: 100%;
  height: 50%;
}
footer{
  background-color: #000;
  padding: 15px 23px;
  text-align: center;
  color: #fff;
  font-family: Roboto,sans-serif;
  margin-top: 30px;
}
.social-icons a {
  display: inline-block;
  margin-right: 10px;
}
.social-icons h3{
  margin-left: -300px;
  margin-bottom: -32px;
  
}
.social-icons{
  margin-top: 30px;
}

.social-icons a i {
  color: #fffbfb;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.social-icons a:hover i {
  transform: scale(1.2);
}
.fa-linkedin,
.fa-instagram,
.fa-envelope {
color: #fff;
}
.about-section img{
  border-radius: 15px;
    height: 440px;
    width: 630px;
    margin-top: -480px;
    margin-left: 975px;
    border: 5px solid#d5d5d5;

}

